<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">

</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Crie Sua Conta Agora Mesmo</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite Sua Senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme Sua Senha"
                        required="required">
                </div>
                <a href="/login">Clique aqui para fazer o login </a>
                <button type="submit" class="btn-devbook">cadastrar</button>
            </form>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>